<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
  	<% for (var i = 0; i < data.length; ++i) { %>

  	<p><%= i %>:  
  		T: <%= data[i].temperature %>
  		H: <%= data[i].humidity %>
  		Date: <%= data[i].date %>




  	</p>
  	<% } %>
  </body>
</html>
