<!DOCTYPE html>
<html>
  <head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
	<script src="https://code.highcharts.com/highcharts.js"></script>
	<script src="https://code.highcharts.com/modules/exporting.js"></script>
	<script src="http://46.101.79.118:3000/static/javascripts/socket.io-1.4.5.js"></script>
  </head>
  <body>

<div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>

... 

  </body>
</html>

<script>

var dataCount = 0;

$('#container').highcharts({
    title: {
        text: 'Huoneen lämpötila ja ilmankosteus',
        x: -20 //center
    },
    xAxis: {
        type: 'datetime'
    },
    chart: {
        type: 'spline',
  		zoomType: 'x',
        panning: true,
        panKey: 'shift'
   	},
    legend: {
        layout: 'vertical',
        align: 'right',
        verticalAlign: 'middle',
        borderWidth: 0
    },
    series: [{
        name: 'Temperature (C)',
        data: [1,2,3]
    }, {
        name: 'Humidity (%)',
        data: [4,5,6]
    }],

});

var socket = io('http://46.101.79.118:3000');
socket.emit('getData');

$('#container').highcharts().showLoading("Wait a second");

socket.on('allData', function (data) {

	for (var i = 0; i < data.length; ++i) {
		var date = new Date(data[i].date).getTime();
		var humidity = data[i].humidity;
		var temperature = data[i].temperature;
		$('#container').highcharts().xAxis[0].series[0].addPoint([date,temperature], false);
		$('#container').highcharts().xAxis[0].series[1].addPoint([date,humidity], false);
		dataCount++;
	}

	$('#container').highcharts().redraw();
	$('#container').highcharts().hideLoading();
});

socket.on('newData', function (data) {
	var date = new Date(data.date).getTime();
	var humidity = data.humidity;
	var temperature = data.temperature;
	$('#container').highcharts().xAxis[0].series[0].addPoint([date, temperature], false);
	$('#container').highcharts().xAxis[0].series[1].addPoint([date, humidity], false);
	$('#container').highcharts().redraw();
	dataCount++;
});
</script>

