<!DOCTYPE html>
<html>
  <head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
	<script src="https://code.highcharts.com/highcharts.js"></script>
	<script src="https://code.highcharts.com/modules/exporting.js"></script>
	<script src="http://46.101.79.118:3000/static/javascripts/socket.io-1.4.5.js"></script>
  </head>
  <body>
	<div class="graph" id="temperatureGraph" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
	<div class="graph" id="humidityGraph" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
	<div class="graph" id="pirGraph" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
  </body>
</html>

<script>

$('#temperatureGraph').highcharts({
    title: {
        text: 'Temperature',
    },
    xAxis: {
        type: 'datetime'
    },
    chart: {
        type: 'spline',
  		zoomType: 'x',
        panning: true,
        panKey: 'shift'
   	},
    legend: {
        layout: 'vertical',
        align: 'right',
        verticalAlign: 'middle',
    },
    series: [{
        name: 'Temperature (C)',
        data: []
    }],
});

$('#humidityGraph').highcharts({
    title: {
        text: 'Humidity',
    },
    xAxis: {
        type: 'datetime'
    },
    chart: {
        type: 'spline',
  		zoomType: 'x',
        panning: true,
        panKey: 'shift'
   	},
    legend: {
        layout: 'vertical',
        align: 'right',
        verticalAlign: 'middle',
    },
    series: [{
        name: 'Humidity (%)',
        data: []
    }],
});

$('#pirGraph').highcharts({
    title: {
        text: 'Motion',
    },
    xAxis: {
        type: 'datetime'
    },
    chart: {
        type: 'column',
  		zoomType: 'x',
        panning: true,
        panKey: 'shift'
   	},
    legend: {
        layout: 'vertical',
        align: 'right',
        verticalAlign: 'middle',
    },
    series: [{
        name: 'Motion',
        data: []
    }],
    plotOptions: {
        series: {
            pointPadding: -0.3
        }
    },    
});

var timeZoneOffset = new Date().getTimezoneOffset();
timeZoneOffset *= 60000;

var socket = io('http://46.101.79.118:3000');
socket.emit('getData');

socket.on('allData', function (data) {

	console.log("DATA LENGTH: ", data.length, " DATA: ", data)

	for (var i = 0; i < data.length; ++i) {
		var date = new Date(data[i].date).getTime() - timeZoneOffset;
		var humidity = data[i].humidity;
		var temperature = data[i].temperature;
		var pir = data[i].pir;

		$('#temperatureGraph').highcharts().xAxis[0].series[0].addPoint([date,temperature], false);
		$('#humidityGraph').highcharts().xAxis[0].series[0].addPoint([date,humidity], false);
		$('#pirGraph').highcharts().xAxis[0].series[0].addPoint([date,pir], false);
	}

	$('#temperatureGraph').highcharts().redraw();
	$('#humidityGraph').highcharts().redraw();
	$('#pirGraph').highcharts().redraw();
});

socket.on('newData', function (data) {
	var date = new Date(data.date).getTime() - timeZoneOffset;
	var humidity = data.humidity;
	var temperature = data.temperature;
	var pir = data.pir;
	$('#temperatureGraph').highcharts().xAxis[0].series[0].addPoint([date,temperature], true);
	$('#humidityGraph').highcharts().xAxis[0].series[0].addPoint([date,humidity], true);
	$('#pirGraph').highcharts().xAxis[0].series[0].addPoint([date,pir], true);

});
</script>

